.cusImg[b-5ivx64l8wf] {
    max-width: 40px;
}

.roundCus[b-5ivx64l8wf] {
    border-radius: 0px 12px 12px 12px;
    box-shadow: 0px 5px 15px -2px rgba(0,0,0,0.36);
    -webkit-box-shadow: 0px 5px 15px -2px rgba(0,0,0,0.36);
    -moz-box-shadow: 0px 5px 15px -2px rgba(0,0,0,0.36);
}

.headMb[b-5ivx64l8wf] {
    margin-bottom: 40px;
}

.mbhead[b-5ivx64l8wf] {
    margin-bottom: 20px;
}

.pagiSample[b-5ivx64l8wf] {
    display: flex;
    gap: 20px;
    align-items: center;
}

.cusBtn[b-5ivx64l8wf] {
    border: none;
    outline: none;
    padding: 5px 40px;
    border-radius: 12px;
}

.cusBtn2[b-5ivx64l8wf] {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    box-shadow: 0px 5px 15px -2px rgba(101,101,235,0.36);
    -webkit-box-shadow: 0px 5px 15px -2px rgba(101,101,235,0.36);
    -moz-box-shadow: 0px 5px 15px -2px rgba(101,101,235,0.36);
}
