.body[b-6ijoeokxk5] {
    height: 400px;
    width: 80%;
    padding: 15px 15px;
    display: flex;
    gap: 30px;
}

.bookproperties[b-6ijoeokxk5] {
    height: 200px;
    width: 40%;
}

.cusgap[b-6ijoeokxk5] {
    gap: 0.5px;
}
