@page "/forgot-password"
@layout EmptyLayout
<div class="d-flex flex-column justify-content-center align-items-center hfull">
    <h3 class="text-center">Please enter your email to generate forgot password token</h3>
    
        <div class="shadow p-4 d-flex flex-column gap-4">
            
            <div class="d-flex gap-2 flex-column gap-2">
                <label for="email">Email</label>
                <input @bind-value ="registerEmail" id="email" />
               
            </div>
        <CustomBtn btnType="button" cssClass="cusBtn cusBtn5 text-white" text="Generate Token" OnClick="HandleForgotPassword" />
            <div class="d-flex justify-content-between">
                <a href="/signup">Don't have an account</a>
                <a href="/login">Login to an account</a>
            </div>
        </div>
    
</div>
