@page "/login"
@layout EmptyLayout 
<div class="d-flex flex-column justify-content-center align-items-center hfull">
<h3 class="text-center">Login</h3>

<EditForm Model="user" OnSubmit="HandleLogin" class="w-50" >
    <div class="shadow p-4 d-flex flex-column gap-4">
    <div class="d-flex gap-2 flex-column gap-2">
    <label for="username">Email</label>
    <InputText id="username" @bind-Value="user.Email" />
    </div> 
    <div class="d-flex gap-2 flex-column">
    <label for="pass">Password</label>
    <InputText id="pass" @bind-Value="user.Password"  />
    </div>
    <CustomBtn btnType="submit" cssClass="cusBtn cusBtn5 text-white" text="Login" />
    <div class="d-flex justify-content-between">
        <a href="/signup">Don't have an account</a>
        <a href="/forgotpassword">Forgot password?</a>
    </div>
    </div>
</EditForm>
</div>