<div class="d-flex flex-column gap-2">
    <p>@Title</p>
    <p>@Comment</p>
    <div>
        <div class="d-flex justify-content-between">
            <p>@Name</p>
            <div class="d-flex gap-2">
            @for (int i = 0; i < Ratings; i++)
            {
                <i class="bi bi-star-fill"></i> 
            }
                @Ratings
            </div>
        </div>
    </div> 
</div>
@code {
    [Parameter]
    public int Ratings { get; set; }
    [Parameter]
	public string Name { get; set; }
	[Parameter]
	public string Comment { get; set; }
    [Parameter]
    public string Title { get; set; }
}
